# Maven
target/

# Java
*.class

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Environment / secrets
.env
application-local.properties
application-secret.properties
